@import "./global.scss";

.faq-container {
  @media (max-width: 600px) {
    padding: 0;
    .faq {
      h3 {
        width: 50%;
      }
      p {
        display: none;
      }
    }
  }
  font-family: $text-font;
  background: url("../images/faq-img/faq-bg.png");
  background-repeat: no-repeat;
  background-position: left;
  padding: 0rem 5rem 5rem 5rem;

  .faq {
    width: 75%;
    margin-left: 25%;

    &__title {
      margin-bottom: 5rem;

      h3 {
        text-shadow: $text-shadow;
        color: orangered;
        font-size: $h2-size;
        font-weight: bold;
      }
      p {
        font-weight: bold;
        margin: 0 10% 0 20%;
      }
    }

    &__accordion {
      margin: 5rem;
      box-shadow: 5px 15px 20px 0 rgba(247, 87, 33, 0.1);
    }
  }
}
