@import "./global.scss";

.info-container {
  font-family: $text-font;
  margin: 0 6rem 2rem 6rem;
  text-align: center;

  .contact-div__text {
    h1 {
      color: rgb(0, 0, 0);
      font-weight: bold;
      font-size: $h4-size;
      text-shadow: $text-shadow;
      text-align: right;
      margin: 0 2rem;

      padding: 2rem 0;
    }
    p {
      font-size: large;
    }
  }
  .contact-div__form {
    label {
      font-size: 1.2rem;
      font-weight: bold;
      margin-right: 1rem;

      input {
        &::placeholder {
          color: $text-gray;
          font-size: 1rem;
        }
      }
    }

    button {
      color: white;
      font-weight: 700;
      background-color: $text-orange;
      border: 1px solid $text-orange;
      border-radius: 0.5rem;
      padding: 0.8rem 1rem;
      cursor: pointer;
      transition: all 0.6s;

      &:hover {
        background: transparent;
        color: $text-orange;
      }
    }
  }
}
