.logo {
  width: 150px;
  height: 60px;
}

.navbar-container {
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  @media (min-width: 762px) {
    display: flex;
    justify-content: space-around;
    text-align: left;
  }

  &__child1 {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;

    a {
      text-decoration: none;
      color: black;
      padding: 1rem;

      &:hover {
        color: orangered;
      }
    }
  }

  &__child2 {
    display: none;
    @media (min-width: 1000px) {
      display: block;
      display: flex;
      align-items: center;
      gap: 1.25rem;
    }
    a {
      text-decoration: none;
    }
    .btn-green {
      color: rgb(10, 41, 10);

      b {
        padding: 1rem;
        &:hover {
          box-shadow: 2px 2px 2px #000000;
          border-radius: 1rem;
        }
      }
    }
    .btn-orangered {
      background-color: orangered;
      color: white;
      border: none;
      border-radius: 1rem;
      padding: 1rem;
      &:hover {
        box-shadow: 2px 2px 2px #000000;
        border-radius: 1rem;
      }
    }
  }
}
