nav {
  display: grid;
  grid-template-rows: auto;
  justify-content: space-around;
  align-content: center;

  img {
    width: 300px;
  }

  ul {
    text-decoration: none;
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
}
